<div id="profile-page">
  <div class="card card-sm animated bounceInUp col-sm-12 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
    <div class="thumbnail text-center">
      {{#if user.avatar}}
        <img class="avatar" src={{user.avatar}} alt="User Avatar">
      {{else}}
        <i class="fa fa-fw fa-5x fa-user"></i>
      {{/if}}
    </div>
    <hr />
    <div class="container-fluid">
      <div class="row">
        {{#if user.name}}
          <div class="col-sm-2">
            <i class="fa fa-fw fa-user"></i>
          </div>
          <div class="col-sm-10">
            <span class="user-name">{{user.name}}</span>
          </div>
        {{else}}
          <div class="text-warning">
            <i class="fa fa-alert"></i> 
            Missing username
          </div>
        {{/if}}
      </div>
      <div class="row">
        {{#if user.email}}
          <div class="col-sm-2">
            <i class="fa fa-fw fa-envelope"></i>
          </div>
          <div class="col-sm-10">
            <span class="user-email">{{user.email}}</span>
          </div>
        {{else}}
          <div class="text-warning">
            <i class="fa fa-alert"></i> 
            Missing email
          </div>
        {{/if}}
      </div>
    </div>
    <hr />
    <div class="container-fluid text-center">
      <a class="btn btn-primary" href="/rooms">
        <i class="fa fa-fw fa-comments "></i> Rooms
      </a>
    </div>
  </div>
  </div>
</div>
<script type="text/javascript">
  'use strict';
  $(() => {
    const socket = io('{{socketUrl}}');
      
    socket.on('connect', () => {
      console.log('Connection to server established');
    });
      
  });
</script>