<div id="profile-page">
  <div class="profile-column animated bounceInLeft col-sm-12 col-md-4 col-lg-4">
    <div class="card-main">
      <div class="thumbnail text-center">
        {{#if user.avatar}}
          <img class="profile-pic" src={{user.avatar}} alt="Profile Picture">
        {{else}}
          <i class="fa fa-fw fa-5x fa-user"></i>
        {{/if}}
        <div class="caption">
          {{#if user.name}}
            <span class="user-name">{{user.name}}</span>
          {{else}}
            <div class="text-warning">
              <i class="fa fa-alert"></i> 
              Missing username
            </div>
          {{/if}}
        </div>
      </div>
      <hr />
      <div class="profile-info">
        <div class="col-sm-3">
          Email:
        </div>
        <div class="col-sm-9">
          {{#if user.email}}
            {{user.email}}
          {{else}}
            <span class="text-warning">Missing</span>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  <div class="profile-column animated bounceInRight col-sm-12 col-md-8 col-lg-8">
      <div class="card-main">
        
      </div>
  </div>
</div>
<script type="text/javascript">
  // Test for the ugliness.
  if (window.location.hash == '#_=_'){

    // Check if the browser supports history.replaceState.
    if (history.replaceState) {

      // Keep the exact URL up to the hash.
      var cleanHref = window.location.href.split('#')[0];

      // Replace the URL in the address bar without messing with the back button.
      history.replaceState(null, null, cleanHref);

    } else {

      // Well, you're on an old browser, we can get rid of the _=_ but not the #.
      window.location.hash = '';

    }

  }
</script>